﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_appView</title>
</head>
<body ng-app="myapp">
    <div> 
        @RenderBody()
    </div>
    <script src="~/angularJS/angular.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
</body>
</html>
