﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>BOX SHOP T2V</title>
    <link href="~/Content/styleweb.css" rel="stylesheet" />
    
    <!-- Custom Theme files -->
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="BOX SHOP Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="~/Content/web/megamenu.css" rel="stylesheet" />
    <link href="~/Content/autocomplete.css" rel="stylesheet" />
    
    <!--Chi tiet san pham-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/web/etalage.css")">
      
    <link rel="stylesheet" href="@Url.Content("~/Content/web/flexslider.css")" type="text/css" media="screen" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    
    @*<script src="~/App/Controller/IndexController.js"></script>*@
</head>
<body ng-app="myapp">

    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=358607511012377";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- header-section-starts -->
    <div class="header">
        <div class="top-header">
            <div class="wrap">
                <div class="header-left">
                    <ul>
                        <li><a href="@Url.Action("Index", "SendMail")">24/7 Chăm sóc khách hàng  </a></li> |
                        <li><a href="#"> Theo dõi đặt hàng</a></li>|
                        <li>@Html.ActionLink("Thông tin Admin", "Thongtinnhom")</li>
                        @if (Session["Admin"] != null && Session["Access_Token"] != null)
                        {
                            <li>@Html.ActionLink("Quan lí admin", "Index", "Admin")</li>
                        }
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        @Html.Partial("_LoginPartial")
                        <li>
                            <i class="cart"></i>
                            <a href="@Url.Action("xemGioHang", "Giohang")">Giỏ chứa hàng</a>
                        </li>
                        <li class="last">@Frontend_Ecommic.Models.GLOBAL.gioHangCurrent.soLuongGioHang()</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="wrap">
            <div class="header-bottom">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img src="~/images/logo.jpg" class="img-responsive" alt="" /></a>
                </div>
                <div class="search" ng-controller="Search">
                    <div>
                        <autocomplete ng-model="yourchoice" data="demo" on-type="updateMovies"></autocomplete>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- header-section-ends -->
    <div class="wrap">
        <div class="navigation-strip">
            <h4>Phổ biến nhất<i class="arrow"></i></h4>
            <div class="top-menu">
                <!-- start header menu -->
                @Html.Action("Menu", "Home")
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="overlay"></div><!--overlay-->

        @*@if (@Session["dangki"] != null)
        {
            <div>@Html.Partial("FormDangki", @Session["dangki"])</div>
            <script type="text/javascript">
                var overlay = $('.overlay');
                var signup = $('.sign-up');
                var body = $('body');
                body.css({ 'overflow': 'hidden' });
                signup.fadeIn(500)
            </script>
        }
        else
        {
            <div>@Html.Partial("FormDangki", new Frontend_Ecommic.Models.RegisterViewModel())</div>
        }
        @if (@Session["login"] != null)
        {
            <div>@Html.Partial("FormDangnhap", @Session["login"])</div>
            <script type="text/javascript">
                var overlay = $('.overlay');
                var login = $('.login1');
                var body = $('body');
                body.css({ 'overflow': 'hidden' });
                login.fadeIn(500)
            </script>
        }
        else
        {
            Frontend_Ecommic.Models.LoginViewModel loginview = new Frontend_Ecommic.Models.LoginViewModel();
            if (Request.Cookies["UserName"] != null && Request.Cookies["Password"] != null)
            {
                loginview.UserName = Request.Cookies["UserName"].Value;
                loginview.Password = Request.Cookies["Password"].Value;
                loginview.RememberMe = true;
            }
            <div>@Html.Partial("FormDangnhap", loginview)</div>
        }*@

        @RenderBody()
        <div class="footer">
            <div class="wrap">
                <div class="contact-section">
                    <div class="col-md-4 follow text-left">
                        <h3>Truy cập </h3>
                        <p>Trang của cúng tôi qua</p>
                        <div class="social-icons">
                            <i class="twitter"></i>
                            <i class="facebook"></i>
                            <i class="googlepluse"></i>
                            <i class="pinterest"></i>
                            <i class="linkedin"></i>
                        </div>
                    </div>
                    <div class="col-md-4 subscribe text-left">
                        <h3>Theo dõi của hàng chúng tôi</h3>
                        <p>Nhận thông tin sản phẩm mới từ của hàng</p>
                        <input type="text" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                        <input type="submit" value="Subscribe">
                    </div>
                    <div class="col-md-4 help text-right">
                        <h3>Cần giúp đỡ ?</h3>
                        <p>Địa chỉ các chi nhánh của của hàng</p>
                        <a href="contact.html">Contact us</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer-middle">
                    <div class="col-md-6 different-products">
                        <ul>
                            <li class="first"> Shop </li> -
                            <li><a href=""> Di động </a></li> |
                            <li><a href=""> Laptops </a></li> |
                            <li><a href=""> Máy ảnh </a></li> |
                            <li><a href=""> SmartWatch </a></li> |
                            <li><a href=""> Phụ kiện </a></li> |
                            <li><a href=""> Tablet </a></li>
                        </ul>
                        <ul>
                            <li class="first"> Giúp đỡ </li> -
                            <li><a href=""> Tư vấn </a></li> |
                            <li><a href=""> Vận chuyển </a></li> |
                            <li><a href=""> Thanh toán </a></li> |
                            <li><a href=""> Đổi - Trả </a></li>
                        </ul>
                        <ul>
                            <li class="first"> Tài khoản
                            <li> -
                            <li><a href=""> ĐĂng nhập </a></li> |
                            <li><a href=""> Đăng kí </a></li> |
                            <li><a href=""> Sản phẩm yêu thích </a></li> |
                            <li><a href=""> Giỏ hàng </a></li>
                        </ul>
                        <ul>
                            <li class="first"> boxshop </li> -
                            <li><a href="contact.html"> contact us </a></li> |
                            <li><a href=""> about us </a></li> |
                            <li><a href=""> careers </a></li> |
                            <li><a href=""> blog </a></li> |
                            <li><a href=""> press </a></li>
                        </ul>

                    </div>
                    <div class="col-md-6 about-text text-right">
                        @Html.ActionLink("Thông tin Admin", "Thongtinnhom")
                        <p>Chúng tôi hân hạnh chào đón các bạn</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="cards text-center">
                    <img src="~/images/cards.jpg" alt="" />
                </div>
                <div class="copyright text-center">
                    <p>Phiên bản 1.0  </p>
                </div>

            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jqueryval")*@
    
    
    <!-- script megamenu -->
    <script src="@Url.Content("~/Scripts/web/megamenu.js")" type="text/javascript"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script>
        $(document).ready(function () { $(".megamenu").megamenu(); });
    </script>
    <script src="~/Scripts/web/jquery.etalage.min.js"></script>
    <script src="@Url.Content("~/Scripts/web/jquery.etalage.min.js")"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!--Login and sign up-->
    
    <script>
    jQuery(document).ready(function ($) {

        $('#etalage').etalage({
            thumb_image_width: 300,
            thumb_image_height: 400,
            source_image_width: 800,
            source_image_height: 1000,
            show_hint: true,
            click_callback: function (image_anchor, instance_id) {
                alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
            }
        });

    });
    </script>
    <!-- start slider -->
    <script src="~/Scripts/web/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--end slider -->
    <script type="text/javascript">
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });
    });
    </script>

    <script src="@Url.Content("~/Scripts/web/jquery.flexisel.js")" type="text/javascript"></script>
    <script src="~/angularJS/angular.min.js"></script>
    <script src="~/angularJS/dirPagination.js"></script>
    @*<script src="~/angularJS/ui-bootstrap-tpls-0.14.3.min.js"></script>*@
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
    @*<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />*@
    <script src="~/App/app.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/App/Controller/IndexController.js"></script>
    <script src="~/App/Controller/DanhSachController.js"></script>
    <script src="~/App/autocomplete.js"></script>
    <script src="~/App/Controller/Search.js"></script>
    <script src="~/App/Controller/xuligiohangcontroller.js"></script>
    <script src="~/App/Controller/TruyxuatController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

