﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@if (Session["Access_Token"] != null)
{
    var token = (Frontend_Ecommic.Models.AccessToken)Session["Access_Token"];
    <li>
        <i class="user"></i>
        @Html.ActionLink("Hello " + token.userName + "!", "Thongtincanhan", "AccountManager", routeValues: null, htmlAttributes: new { title = "Manage" })|<a href="@Url.Action("Dangxuat","AccountManager")">Đăng xuất</a>
    </li>
}
else
{
    if (Session["Google"] != null)
    {
        var infor = (ExternalLoginInfo)Session["Google"];
        <li>
            <i class="user"></i>
            @Html.ActionLink("Hello " + infor.DefaultUserName + "!", "Taikhoangoogle", "AccountManager", routeValues: null, htmlAttributes: new { title = "Manage" })|<a href="@Url.Action("LogOff", "Account")">Đăng xuất</a>
        </li>
    }
    else
    {
        
        <li>
            <i class="user"></i>
            <a href="@Url.Action("Index", "AccountManager")" class="sign-button">Đăng kí</a>
        </li>
        <li class="login">
            <i class="lock"></i>
            <a href="@Url.Action("Index", "AccountManager")" class="login-button">Đăng nhập</a>
        </li>
    }
}