﻿<table>
    <tbody>
        <tr><td class="title">Số lượng: </td><td class="numb"><span class="simpleCart_quantity">@Frontend_Ecommic.Models.GLOBAL.gioHangCurrent.soLuongGioHang()</span></td></tr>
        <tr><td class="title">Thành tiền: </td><td class="numb"><span class="simpleCart_total">VND&nbsp;@Frontend_Ecommic.Models.GLOBAL.gioHangCurrent.tongTienCart()</span></td></tr>
        <tr><td class="title">Phí ship: </td><td class="numb"><span class="simpleCart_shippingCost">VND&nbsp;0.00</span></td></tr>
        <tr><td class="title">Tổng cộng: </td><td class="numb"><span class="simpleCart_finalTotal">VND&nbsp;@Frontend_Ecommic.Models.GLOBAL.gioHangCurrent.tongTienCart()</span></td></tr>
    </tbody>
</table>
<div class="clear"></div>
<div class="button_check">
    <a class="simpleCart_empty" href="javascript:;" onclick="Deleteall();" title="Xóa hết đơn hàng">Xóa hết</a>
    <a class="thanhtoan" href="javascript:;" onclick="Thanhtoanform();">Thanh toán</a>
</div>
<div class="clear"></div>
