﻿@model List<Frontend_Ecommic.Models.GiohangModel>
@for (int i = 0; i < @Model.Count; i++)
{
    <div class="itemContainer">
        <div class="itemname"><a href="@Url.Action("Chitietsanpham", "Sanpham", new { ID = @Model[i].Id_SP })">@Model[i].sanPham.TenSanPham</a></div>
        <div class="itemthumb">
            <img src="@Frontend_Ecommic.Models.GLOBAL.urlapi@Model[i].sanPham.Duongdanhinh" alt="img" />
        </div>
        <div class="itemQuantity">
            <select ng-change="changequantity(@Model[i].Id_SP,@i)" ng-model="Cart[@i].soLuong" ng-init="Cart[@i].soLuong ='@Model[i].soLuong'">
                @for (int j = 1; j <= @Model[i].sanPham.Soluong; j++)
                {
                    <option value="@j">@j</option>
                }
            </select>

        </div>
        <div class="itemcolor">
            Color :
            <select ng-change="changeColor(@Model[i].Id_SP,@i)" ng-model="Cart[@i].coLor" ng-init="Cart[@i].coLor ='@Model[i].Color'">
                @for (int j = 0; j < @Model[i].sanPham.Color.Count; j++)
                {
                    <option value="@Model[i].sanPham.Color.ToList()[j].Ten">@Model[i].sanPham.Color.ToList()[j].Ten</option>
                }
            </select>
        </div>
        <div class="itemTotal">
            VND : @Model[i].sanPham.Giatien
        </div>
        <div class="itemremove">
            <a href="javascript:;" ng-click="xoaCart(@Model[i].Id_SP)">Loại bỏ</a>
        </div>
    </div>
}
<div class="clear"></div>
<div class="mycartinfo">
    @Html.Partial("_thongtingiohang")
</div>
