﻿@model Frontend_Ecommic.Models.LoginViewModel

@{
    ViewBag.Title = "Trang đăng nhập";
    <link href="~/css/FormTaiKhoan.css" rel="stylesheet" />
}

<div>
    @using (Html.BeginForm("DangNhap", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="login-header">
                <span>Đăng nhập</span>
                <a href="#" class="close">Close</a>
            </div>
            <div class="Error">
                @if (@Session["Loi"] != null)
                {
                    <p>@Session["Loi"]</p>
                }
            </div>
            <div class="login-content">
                <label for="name">UserName:</label>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                <label for="pass">Password:</label>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                @*<input type="submit" value="Log In" class="loginsubmit" />*@
               
                <div class="checkbox-inline">
                    <div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        <i>Remember me ?</i>
                        <i><a href="@Url.Action("Quenmatkhau","Home")">Forget password</a></i>
                    </div>
                </div>
                <input class="loginsubmit" type="submit" value="Log In" />
                
            </div>
        </fieldset>
    }
    @Html.Partial("_ExternalLoginsListPartial", new { Action = "LoginService", ReturnUrl = ViewBag.ReturnUrl })
</div>