﻿@model Frontend_Ecommic.Models.RegisterViewModel
@{ViewBag.Title = "Trang đăng kí ";
    <link href="~/css/FormTaiKhoan.css" rel="stylesheet" />
    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem { Text = "Nam", Value = "0" });
    li.Add(new SelectListItem { Text = "Nữ", Value = "1" });
    ViewData["gioitinh"] = li;
}

<div>
    @using (Html.BeginForm("Dangki", "Account", FormMethod.Post, new { @class = "sign-up" }))
    {

        <fieldset>
            <div class="login-header">
                <span>Đăng kí</span>
                <a href="#" class="close">Close</a>
            </div>
            <div class="Error">
                @if (@Session["Loi"] != null)
                {
                    <p>@Session["Loi"]</p>
                }
            </div>
            <div class="login-content">
                <label for="name">UserName:</label>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                <label for="pass">Password:</label>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                <label for="pass">Confirm:</label>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                <label for="name">Email:</label>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                <label for="name">SDT:</label>
                @Html.TextBoxFor(m => m.SDT)
                @Html.ValidationMessageFor(m => m.SDT)

                <input type="submit" value="Log In" class="loginsubmit" />
            </div>
        </fieldset>
    }
</div>