﻿@model Frontend_Ecommic.Models.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="main-top">

    <div class="col-md-8 banner">
        <!-- start slider -->
        <!----->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    @for (int i = 0; i < @Model.Sliders.Count; i++)
                    {
                        <li><img src="@Model.Sliders[i].Url" /></li>
                    }
                </ul>
            </div>
        </div>
        <!----->
        <!-- end  slider -->
    </div>
    <div class="col-md-4 right-grid">
        <div class="right-grid-top">
            <div class="r-sale text-center">
                <h6>Tuần lễ vàng</h6>
                <h2>Sale</h2>
            </div>
            <div class="r-discount">
                <span>thêm</span>
                <h2>50%</h2>
                <p>OFF</p>
                <a href="#">Mua ngay<i class="go"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="right-grid-bottom">
            <div class="right-grid-bottom-left">
                <h3>khuyến mãi</h3>
                <p>Đến :10/5/2015</p>
                <h5>Wireless Headphones</h5>
                <h2>Giảm thêm 30%</h2>
                <a href="single.html">Mua ngay<i class="go"></i></a>
            </div>
            <div class="right-grid-bottom-right">
                <img src="images/headset.png" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="new-arrivals text-center" ng-controller="truyxuatcontroller">
    <div class="col-md-3 new-arrival-head">
        <h3>Tin tuc </h3>
        <a class="btn btn-1 btn-1d" href="@Url.Action("Danhsachtintuc", "Truyxuat")">Xem tất cả</a>
    </div>
   
    <div class="col-md-3 product-item" ng-repeat="item in dsnews | limitTo: 3">
        <a href="{{item.srcPage}}"><img src="{{item.image}}" class="img-responsive" alt="" /></a>
        <h3>{{item.Title}}</h3>
        <a href="{{item.srcPage}}">Xem Ngay</a><i class="go"></i>
    </div>
    <div class="clearfix"></div>
</div>
<div class="new-arrivals text-center">
    <div class="col-md-3 new-arrival-head">
        <h3>Hàng mới </h3>
        <a class="btn btn-1 btn-1d" href="@Url.Action("Danhsachsanpham", "Sanpham", new { name = "Điện thoại" })">Xem tất cả</a>
    </div>
    @for (int i = 0; i < @Model.sanPhamMoi.Count; i++)
    {
        <div class="col-md-3 product-item">
            <a href="@Url.Action("Chitietsanpham", "Sanpham", new { ID = @Model.sanPhamMoi[i].ID })"><img src="@Frontend_Ecommic.Models.GLOBAL.urlapi@Model.sanPhamMoi[i].Duongdanhinh" class="img-responsive" alt="" /></a>
            <h3>@Model.sanPhamMoi[i].TenSanPham</h3>
            <a href="@Url.Action("Chitietsanpham", "Sanpham", new { ID = @Model.sanPhamMoi[i].ID })">Xem Ngay</a><i class="go"></i>
        </div>
    }
    <div class="clearfix"></div>
</div>
<div ng-controller="mycontroll">
    <div class="best-sellers">
        <div class="best-sellers-head">
            <h3>Bán chạy nhất</h3>
        </div>
        <div class="best-sellers-menu">
            <ul>
                @for (int i = 0; i < @Model.loaiSanPham.Count; i++)
                {
                    <li><a href="javascript:;" ng-click="changetype(@Model.loaiSanPham[i].ID,@i)" ng-class="{active : isSelected(@i)}">@Model.loaiSanPham[i].TenLoai</a></li>
                }
                <li><a>Other</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="main" ng-controller="xuligiohang">
        <div class="content">
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4" ng-repeat="item in sanPham">
                    <a href="/Sanpham/Chitietsanpham/{{item.ID}}"><img src="@Frontend_Ecommic.Models.GLOBAL.urlapi{{item.Duongdanhinh}}" class="img-responsive" alt="" /></a>
                    <h3>{{item.TenSanPham}}</h3>
                    <p><span class="price">{{item.Giatien}}</span></p>
                    <div class="button"><span><a href="javascript:;" ng-click="addtoCart(item.ID)" class="cart-button">Add to Cart</a></span> </div>
                    <div class="button"><span><a href="/Sanpham/Chitietsanpham/{{item.ID}}" class="details">Details</a></span></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="clients">
    <div class="course_demo1">
        <ul id="flexiselDemo1">
            <li>
                <div class="client">
                    <img src="images/l1.jpg" alt="" />
                </div>
            </li>
            <li>
                <div class="client">
                    <img src="images/l2.jpg" alt="" />
                </div>
            </li>
            <li>
                <div class="client">
                    <img src="images/l3.jpg" alt="" />
                </div>
            </li>
            <li>
                <div class="client">
                    <img src="images/l4.jpg" alt="" />
                </div>
            </li>
            <li>
                <div class="client">
                    <img src="images/l5.jpg" alt="" />
                </div>
            </li>
            <li>
                <div class="client">
                    <img src="images/l6.jpg" alt="" />
                </div>
            </li>
            <li>
                <div class="client">
                    <img src="images/l7.jpg" alt="" />
                </div>
            </li>
            <li>
                <div class="client">
                    <img src="images/l9.jpg" alt="" />
                </div>
            </li>
        </ul>
    </div>

    
    
</div>
<div class="transport-grid">
    <div class="col-md-4 shipping">
        <h3><i class="shipping-icon"></i>Miễn phí vận chuyển</h3>
        <p>Chúng tôi vận chuyển an toàn ,uy tín, không hao hụt sản phẩm , và chuyển đến tận tay người mua</p>
    </div>
    <div class="col-md-4 shipping">
        <h3><i class="correct-icon"></i>100 % chính hãng</h3>
        <p>Chúng tôi cam kết luôn luôn bán hàng chính hãng </p>
    </div>
    <div class="col-md-4 return">
        <h3><i class="return-icon"></i>Miễn phí đổi trả</h3>
        <p>Vì bất cứ lí do gì bạn không thích máy của mình mà còn trong hạn đổi trả, chúng tôi xin hân hạnh đón tiếp bạn</p>
    </div>
    <div class="clearfix"></div>
</div>










