﻿@model List<Frontend_Ecommic.Models.MenuModel>
@{
    Layout = null;
}
<ul class="megamenu skyblue">
    @for (int i = 0; i < @Model.Count; i++)
    {
        <li>
            <a class="color1" href="@Url.Action("DanhSachSanPham","Sanpham", new { name = @Model[i].Name })">@Model[i].Name</a>
            <div class="megapanel">
                <div class="row">
                    <div class="col1">
                        <div class="h_nav">
                            <h4>Hãng sản xuất</h4>
                            <ul>
                                @for (int j = 0; j < @Model[i].subMenu.Count; j++)
                                {
                                    <li><a href="@Url.Action("DanhSachSanPham","Sanpham", new { name = @Model[i].Name, submenu = @Model[i].subMenu[j].Name })">@Model[i].subMenu[j].Name</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="h_nav">
                            <ul>
                                <li><img src="~/images/dt3.jpg" alt="" width="300px" height="300px" /></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </li>
    }
</ul>