﻿
@{
    ViewBag.Title = "Quanligiohang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}

<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <div class="left_content">
                <div class="mycart">
                    <h3>Thông tin giỏ hàng</h3>
                    <div class="quanli">
                        <div class="simpleCart_items">
                            @for (int i = 0; i < @Model.Count; i++)
                            {
                                <div class="itemContainer">
                                    <div class="itemname">@Model[i].Sanpham.TenSanPham</div>
                                    <div class="itemthumb">
                                        <img src="../../@Model[i].Sanpham.Duongdanhinh" alt="img" />
                                    </div>
                                    <div class="itemQuantity">
                                        <select onchange="changequantity(this.value,@i);">
                                            @for (int j = 1; j <= @Model[i].Sanpham.Soluong; j++)
                                            {
                                                if (j == Model[i].Soluong)
                                                {
                                                    <option value="@j" selected>@j</option>
                                                }
                                                else
                                                {
                                                    <option value="@j">@j</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                    <div class="itemcolor">
                                        Color :
                                        <select onchange="changecolor(this.value,@i);">
                                            @for (int j = 0; j < @Model[i].Sanpham.Colors.Count; j++)
                                            {
                                                if (Model[i].Sanpham.Colors.ToList()[j].Ten == Model[i].color)
                                                {
                                                    <option value="@Model[i].Sanpham.Colors.ToList()[j].Ten" selected>@Model[i].Sanpham.Colors.ToList()[j].Ten</option>
                                                }
                                                else
                                                {
                                                    <option value="@Model[i].Sanpham.Colors.ToList()[j].Ten">@Model[i].Sanpham.Colors.ToList()[j].Ten</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="itemTotal">
                                        VND : @Model[i].Dongia
                                    </div>
                                    <div class="itemremove">
                                        <a href="javascript:;" onclick="javacript:Loaibo(@i);">Loại bỏ</a>
                                    </div>
                                </div>
                            }
                            <div class="clear"></div>
                            <div class="mycartinfo">
                                <table>
                                    <tbody>
                                        <tr><td class="title">Số lượng: </td><td class="numb"><span class="simpleCart_quantity">@Session["soluong"]</span></td></tr>
                                        <tr><td class="title">Thành tiền: </td><td class="numb"><span class="simpleCart_total">VND&nbsp;@Session["tongtien"]</span></td></tr>
                                        <tr><td class="title">Phí ship: </td><td class="numb"><span class="simpleCart_shippingCost">VND&nbsp;0.00</span></td></tr>
                                        <tr><td class="title">Tổng cộng: </td><td class="numb"><span class="simpleCart_finalTotal">VND&nbsp;@Session["tongtien"]</span></td></tr>
                                    </tbody>
                                </table>
                                <div class="clear"></div>
                                <div class="button_check">
                                    <a class="simpleCart_empty" href="javascript:;" onclick="Deleteall();" title="Xóa hết đơn hàng">Xóa hết</a>
                                    <a class="thanhtoan" href="javascript:;" onclick="Thanhtoanform();">Thanh toán</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="form-tt">

                </div>
            </div>


            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="kid-menu">
                                <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                                <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</body>
<script type="text/javascript">

    function Loaibo(value) {
        var url = '@Url.Action("Loaikhoigiohang","Xuli")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: { a: value },
            success: function (result) {
                $('.quanli').html(result.toString());
            },
        });
    }
    function changequantity(value, value1) {
        var url = '@Url.Action("ChangeQuanity", "Xuli")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: { a: value, b: value1 },
            success: function (result) {
                $('.quanli').html(result.toString());
            },
        });
    }
    function changecolor(value, value1) {
        var url = '@Url.Action("Changecolor", "Xuli")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: { a: value, b: value1 },
            success: function (result) {
            },
        });
    }
    function Deleteall() {
        var url = '@Url.Action("Deleteall", "Xuli")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: {},
            success: function (result) {
                $('.quanli').html(result.toString());
                $('.last').html("0");
            },
        });
    }
    function Thanhtoanform() {
        var url = '@Url.Action("Formthanhtoan", "Xuli")';
        if('@Session["islogin"]' == "N")
        {
            var login = $('.login1');
            var signup = $('.sign-up');
            var body = $('body');
            body.css({ 'overflow': 'hidden' });
            login.fadeIn(500)
        }
        else
        {
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data: {},
                success: function (result) {
                    $('.form-tt').html(result.toString());
                },
            });
        }
    }

</script>

