﻿@model Frontend_Ecommic.Models.ViewModel
@{
    ViewBag.Title = "Index";
    <link href="~/Content/css/Account.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="account-id">
                            <h4 class="account-title">
                                <span class="fa fa-chevron-right"></span>
                                Đăng nhập
                            </h4>
                            <div class="account-form">
                                @using (Html.BeginForm("DangNhap", "AccountManager", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <div class="Error">
                                            @if (@Session["LoiDangNhap"] != null)
                                            {
                                                <p>@Session["LoiDangNhap"]</p>
                                            }
                                        </div>
                                        <div class="login-content">
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">UserName <span class="required">*</span></label>
                                                @Html.TextBoxFor(m => @Model.LoginModel.UserName)
                                                @Html.ValidationMessageFor(m => @Model.LoginModel.UserName)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="pass">Password <span class="required">*</span></label>
                                                @Html.PasswordFor(m => @Model.LoginModel.Password)
                                                @Html.ValidationMessageFor(m => @Model.LoginModel.Password)
                                                @*<input type="submit" value="Log In" class="loginsubmit" />*@
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div>
                                                    <label for="rememberme" class="inline">@Html.CheckBoxFor(m => @Model.LoginModel.RememberMe) Remember me ?</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div>
                                                    <label for="forgetpassword" class="inline"><a href="@Url.Action("Quenmatkhau","AccountManager")">Forget password?</a></label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="buttons-set">
                                            <input class="btn-black" name="action" type="submit" value="Đăng nhập" />
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="account-id">
                            <h4 class="account-title">
                                <span class="fa fa-chevron-right"></span>
                                Đăng kí
                            </h4>
                            @{
                                Frontend_Ecommic.Models.RegisterViewModel registerModel = new Frontend_Ecommic.Models.RegisterViewModel();
                                <div class="account-form">
                                    @using (Html.BeginForm("Dangki", "AccountManager", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <fieldset>
                                            <div class="Error">
                                                @if (@Session["LoiDangKi"] != null)
                                                {
                                                    <p>@Session["LoiDangKi"]</p>
                                                }
                                            </div>
                                            <div class="login-content">
                                                <div class="col-md-12 col-sm-12">
                                                    <label for="name">UserName <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => @Model.RegisterModel.UserName)
                                                    @Html.ValidationMessageFor(m => @Model.RegisterModel.UserName)
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label for="pass">Password <span class="required">*</span></label>
                                                    @Html.PasswordFor(m => @Model.RegisterModel.Password)
                                                    @Html.ValidationMessageFor(m => @Model.RegisterModel.Password)
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label for="pass">Confirm <span class="required">*</span></label>
                                                    @Html.PasswordFor(m => @Model.RegisterModel.ConfirmPassword)
                                                    @Html.ValidationMessageFor(m => @Model.RegisterModel.ConfirmPassword)
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label for="name">Email <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => @Model.RegisterModel.Email)
                                                    @Html.ValidationMessageFor(m => @Model.RegisterModel.Email)
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label for="name">SDT <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => @Model.RegisterModel.SDT)
                                                    @Html.ValidationMessageFor(m => @Model.RegisterModel.SDT)
                                                </div>
                                            </div>
                                            <div class="buttons-set">
                                                <input type="submit" name="action" value="Đăng kí" class="btn-black" />
                                            </div>
                                        </fieldset>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="account-id">
                            <h4 class="account-title">
                                <span class="fa fa-chevron-right"></span>
                                Đăng nhập với dịch vụ khác
                            </h4>
                        </div>
                        <div class="account-form">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <fieldset>
                                    <div class="Error">
                                        @if (@Session["LoiDangKi"] != null)
                                        {
                                            <p>@Session["LoiDangKi"]</p>
                                        }
                                    </div>
                                    <div class="buttons-set">
                                        <input type="submit" name="action" value="Google" class="btn-black" />
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

