﻿@model Frontend_Ecommic.Models.ExternalLoginInfoModels
@{
    ViewBag.Title = "Taikhoangoogle";
    <link href="~/Content/css/Account.css" rel="stylesheet" />
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="account-id">
                            <h4 class="account-title">
                                <span class="fa fa-chevron-right"></span>
                                Thông tin cá nhân
                            </h4>
                            
                            <div class="account-form">
                                <fieldset>
                                        <div class="Error">
                                        </div>
                                        <div class="login-content">
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Tài khoản: @Model.DefaultUserName</label>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="pass">Email: @Model.Email </label>
                                            </div>
                                        </div>
                                </fieldset>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



