﻿@model Frontend_Ecommic.Models.InforViewModel
@{
    ViewBag.Title = "Thông tin cá nhân";
    <link href="~/Content/css/Account.css" rel="stylesheet" />
     <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" 
        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" 
        rel="stylesheet"  type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" 
        rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")" 
        type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")" 
        type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")" 
        type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".news_date").datepicker();
        });
    </script>
}
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.datetimepicker').datetimepicker();
    })
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="account-id">
                            <h4 class="account-title">
                                <span class="fa fa-chevron-right"></span>
                                Thông tin cá nhân
                            </h4>
                            <div class="account-form">
								@using (Html.BeginForm("Thongtincanhan", "AccountManager", new { ReturnUrl = ViewBag.ReturnUrl, UserName = @Model.information.UserName, SDT = @Model.information.SDT, Email = @Model.information.Email, Anhdaidien = @Model.information.Anhdaidien  }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <div class="Error">
                                            @if (@Session["Doithongtin"] != null)
                                            {
                                                <p>@Session["Doithongtin"]</p>
                                            }
                                        </div>
                                        <div class="login-content">
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Họ tên </label>
                                                @Html.TextBoxFor(m => @Model.information.HoTen)
                                                @Html.ValidationMessageFor(m => @Model.information.HoTen)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                @{List<SelectListItem> gioitinh = new List<SelectListItem>();
                                                  gioitinh.Add(new SelectListItem
                                                  {
                                                      Text = "Nam",
                                                      Value = "0"
                                                  });

                                                  gioitinh.Add(new SelectListItem
                                                  {
                                                      Text = "Nữ",
                                                      Value = "1"
                                                  });
                                                }
                                                <label for="pass">Giới tính </label>
                                                @Html.DropDownListFor(m => @Model.information.Gioitinh, gioitinh)
                                                @*<input type="submit" value="Log In" class="loginsubmit" />*@
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Ngày sinh </label>
                                                @Html.TextBoxFor(m => @Model.information.Namsinh, "", new { @class = "form-control datetimepicker news_date" })
                                                @Html.ValidationMessageFor(m => @Model.information.Namsinh)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Địa chỉ </label>
                                                @Html.TextBoxFor(m => @Model.information.Diachi)
                                                @Html.ValidationMessageFor(m => @Model.information.Diachi)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Email </label>
                                                @Html.TextBoxFor(m => @Model.information.Email)
                                                @Html.ValidationMessageFor(m => @Model.information.Email)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">SDT </label>
                                                @Html.TextBoxFor(m => @Model.information.SDT)
                                                @Html.ValidationMessageFor(m => @Model.information.SDT)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Ngày đăng ký </label>
                                                @Html.TextBoxFor(m => @Model.information.Ngaydangki, (object)new { disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="buttons-set">
                                            <input class="btn-black" name="action" type="submit" value="Lưu thay đổi" />
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="account-id">
                            <h4 class="account-title">
                                <span class="fa fa-chevron-right"></span>
                                Thay đổi mật khẩu
                            </h4>
                            <div class="account-form">
                                @using (Html.BeginForm("Thaydoimatkhau", "AccountManager", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <div class="Error">
                                            @if (@Session["Doimatkhau"] != null)
                                            {
                                                <p>@Session["Doimatkhau"]</p>
                                            }
                                        </div>
                                        <div class="login-content">
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Mật khẩu cũ </label>
                                                @Html.PasswordFor(m => @Model.editPassModel.OldPass)
                                                @Html.ValidationMessageFor(m => @Model.editPassModel.OldPass)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Mật khẩu mới </label>
                                                @Html.PasswordFor(m => @Model.editPassModel.Password)
                                                @Html.ValidationMessageFor(m => @Model.editPassModel.Password)
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="name">Nhập lại mật khẩu </label>
                                                @Html.PasswordFor(m => @Model.editPassModel.ConfirmPassword)
                                                @Html.ValidationMessageFor(m => @Model.editPassModel.ConfirmPassword)
                                            </div>
                                        </div>
                                        <div class="buttons-set">
                                            <input class="btn-black" name="action" type="submit" value="Đổi mật khẩu" />
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>