﻿<div class="autocomplete {{ attrs.class }}" id="{{ attrs.id }}">
    <input type="text"
            ng-model="searchParam"
            placeholder="{{ attrs.placeholder }}"
            class="{{ attrs.inputclass }}" 
            id="{{ attrs.inputid }}"
            ng-required="{{ autocompleteRequired }}" />
    <ul ng-show="completing && (suggestions | filter:searchFilter).length > 0">
        <li suggestion
            ng-repeat="suggestion in suggestions | filter:searchFilter | orderBy:'toString()' track by $index"
            ng-class="{ active: ($index === selectedIndex) }"
            ng-click="select(suggestion)"><a href="/Sanpham/Chitietsanpham/{{suggestion.ID}}">{{suggestion.TenSanPham}}</a></li>
    </ul>
</div>
