﻿body{
    font-family:helvetica,arial,sans-serif;
    font-size:12px;
    background-color:#f2f2f2;
}
 
.login1{
    position:absolute;
    left:50%;
    top:25%;
    margin-left:-140px;
    width:280px;
    border-radius:7px;
    overflow:hidden;
    background-color:white;
    border:1px solid #000000;
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    z-index:999;
}
.login-header{
    border-radius:7px 7px 0 0;
    text-align:center;
    position:relative;
    height:38px;
    line-height:36px;
    color:#eaeaea;
    text-shadow:0 1px 0 rgba(0,0,0,0.8);
    font-weight:bold;
    background-color:blue;
    background-image:linear-gradient(top,#232323 0%,#1d1d1d 50%,#010101 50%,#0f0f0f 100%);
    border-bottom:1px solid #111111;
    box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 -1px 0 rgba(0,0,0,1) inset;
}
 
.login-content{
    border-top:1px solid #262626;
    padding:16px;
    box-shadow:0 0 10px rgba(0,0,0,0.5) inset,0 -1px 0 rgba(255,255,255,0.1) inset;
}
 
.login1 label{
    display:block;
    margin-bottom:9px;
    font-size:15px;
    text-shadow:0 0 1px rgba(0,0,0,0.5);
    font-weight:900;
    color:#4b4b4b;
}
 
.login1 input:not(.loginsubmit){
    margin-bottom:9px;
    display:block;
    width:220px;
    background-color:#050505;
    border:none;
    height:40px;
    border-radius:6px;
    color:#4b4b4b;
    font-size:15px;
    font-weight:900;
    padding:0 15px;
    box-shadow:0 1px 0 rgba(255,255,255,0.08);
}
.login1 input[type=checkbox], input[type=radio] {
    width: 15px !important;
    margin-top: -40px !important;
    margin-left: -20px !important;
}
.loginsubmit{
    display:block;
    margin:auto;
    color:#b0b0b0 !important;
    font-size:12px;
    font-weight:bold;
    height:38px;
    width:100px;
    padding-bottom:3px;
    border-radius:7px;
    margin-top:15px;
    margin-left: 90px !important;
    border:none;
    cursor:pointer;
    background-color:#111111 !important;
    background-image:linear-gradient(top,#0c0c0c 0%,#111111 25%,#090909 50%,#000000 50%,#090909 75%,#0c0c0c 100%);
    box-shadow:0 -1px 0 rgba(255,255,255,0.08) inset,0 0 5px rgba(0,0,0,0.7) inset,1px 0px 0px rgba(0,0,0,0.5) inset,-1px 0px 0px rgba(0,0,0,0.5) inset;
}

.loginsubmit:active{
    background-color:#0b0b0b;
    background-image:linear-gradient(top,#0b0b0b,#0b0b0b);
    box-shadow:0 -1px 0 rgba(255,255,255,0.08) inset,0 0 7px rgba(0,0,0,0.9) inset,1px 0px 0px rgba(0,0,0,0.5) inset,-1px 0px 0px rgba(0,0,0,0.5) inset;
}
 
.close{
    position:absolute;
    width:16px;
    height:16px;
    display:block;
    border-radius:17px;
    color:#000000;
    font-size:11px;
    line-height:14px;
    font-weight:bold;
    text-shadow:none;
    right:16px;
    top:11px;
    background-color:#000000;
    box-shadow:0 -1px 0 rgba(255,255,255,0.2) inset;
    transition:all 0.2s ease;
}
 
.close:hover{
    color:#fff;
}

 .overlay,.login1,.sign-up{
    display:none;
}
.login-bar{
    border-top:4px solid #222;
    position:relative;
}

/*Sign-up*/
.sign-up
{
    position:absolute;
    left:50%;
    top:25%;
    margin-left:-140px;
    width:300px;
    border-radius:7px;
    overflow:hidden;
    background-color:white;
    border:1px solid #000000;
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    z-index:999;
}
.sign-up input:not(.loginsubmit){
    margin-bottom:9px;
    display:block;
    width:250px;
    background-color:#050505;
    border:none;
    height:40px;
    border-radius:6px;
    color:#4b4b4b;
    font-size:15px;
    font-weight:900;
    padding:0 15px;
    box-shadow:0 1px 0 rgba(255,255,255,0.08);
}
.Error{
    padding:5px;
}
.checkbox-inline i{
    position :absolute;
    bottom : 12px;
    left:20px;    
    width: 100px;
}
.RememberMe {
    width:15px !important;
    height:15px !important;
    position:absolute !important;
    left:40px !important;
    bottom :3px !important;
}
.checkbox-inline i a{
    position:relative;
    left:110px;
    bottom:0px;
}
.checkbox-inline 
{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    top: 30px !important;
}
