﻿@model Frontend_Ecommic.Models.LoaiSanPhamModel
@{
    ViewBag.Title = "Danh Sach San Pham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content" ng-controller="MyControllersp" ng-init="khoitao(@Model.ID)">
    <div class="row content-header">
        <div class="content_top">
            <div class="col-md-2 heading">
                <h3>@Model.TenLoai</h3>
            </div>
            <div class="col-md-3 sort">
                <div class="col-md-4 giamkc">
                    Sắp xếp:
                </div>
                <div class="col-md-8">
                    <select id="selectBox" ng-model="value" ng-change="sort()" class="form-control">
                        <option selected value="Giá tăng">Giá tăng</option>
                        <option value="Giá giảm">Giá giảm</option>
                    </select>
                </div>

            </div>
            <form method="post" class="col-md-7 form-border" ng-submit="Search()">
                    <div class="col-md-4">
                        <div class="col-md-3 giamkc">
                            Loại :
                        </div>
                        <div class="col-md-9">
                            <select class="form-control selectInput" ng-model="LoaiSP">
                                <option></option>
                                <option ng-repeat="item in typeProduct" value="{{item.ID}}">{{item.TenLoai}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5 giamkc">Hãng Sản Xuất</div>
                        <div class="col-md-7">
                            <select class="form-control selectInput" ng-model="hangSX">
                                <option></option>
                                <option ng-repeat="item in typeNSX" value="{{item.Name}}">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Tìm" class="form-button" />
                    </div>
            </form>

        </div>
    </div>
    <div class="row content-sp">
        <div class="section group" ng-controller="xuligiohang">

            <div class="grid_1_of_4 images_1_of_4" ng-repeat="item in todos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:'Giatien':tang">
                <a href="@Url.Action("Thongtinchitietsanpham")"><img src="@Frontend_Ecommic.Models.GLOBAL.urlapi{{item.Duongdanhinh}}" class="img-responsive" alt="" /></a>
                <h3>{{item.TenSanPham}}</h3>
                <p><span class="price">{{item.Giatien}}</span></p>
                <div class="button"><span><a href="javascript:;" ng-click="addtoCart(item.ID)" class="cart-button">Add to Cart</a></span> </div>
                <div class="button"><span><a href="/Sanpham/Chitietsanpham/{{item.ID}}" class="details">Details</a></span></div>
            </div>
        </div>
       </div>
    <div pagination total-items="totalItems" page="currentPage" max-size="maxSize" class="pagination-sm center" boundary-links="true"></div>
</div>


