﻿@model Frontend_Ecommic.Models.SanphamModel
<div class="grid_1_of_4 images_1_of_4">
    <a href="#"><img src="@Model.Duongdanhinh" class="img-responsive" alt="" /></a>
    <h3>@Model.TenSanPham</h3>
    <p><span class="price">@Model.Giatien</span></p>
    <div class="button"><span><a href="#" class="cart-button">Add to Cart</a></span> </div>
    <div class="button"><span><a href="#" class="details">Details</a></span></div>
</div>