﻿@{
    Layout = null;
}
@model List<Frontend_Ecommic.Models.SanphamModel>
<div class="device">
    <div class="course_demo">
        <ul id="flexiselDemo">
            @for (int i = 0; i < @Model.Count; i++)
            {
                <li>
                    <div class="ipad text-center">
                        <a href="@Url.Action("Chitietsanpham", "Sanpham", new { ID = @Model[i].ID })"><img src="@Frontend_Ecommic.Models.GLOBAL.urlapi@Model[i].Duongdanhinh" alt=" " /></a>
                        <h4>@Model[i].TenSanPham</h4>
                        <h3>VND : @Model[i].Giatien</h3>
                        <ul>
                            <li><i class="cart-1"></i></li>
                            <li><a class="cart" href="javascript:;">Add To Cart</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

