﻿body {
}
.account-id{
    box-sizing: border-box;
    background-color: #fff;
    display: block;
    box-sizing: border-box;
}
.account-title{
    box-sizing: border-box;
    display: block;
    background: #000;
    color: #FFF;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.account-title span {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}.account-title fap {
    content: "\f054";
}.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f054";
}.fa fa-chevron-right:before {
    content: "\f054";
}.account-form{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    margin-top: -20px;
    padding: 20px 40px;
    display: block;
    box-sizing: border-box;
 }.account-form label {
    font-weight: 300!important;
    vertical-align: middle;
    font-family: 'Roboto Condensed',sans-serif !important;
    font-size: 13px !important;
    color: #444 !important;
    text-transform: capitalize;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    cursor: default;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}.login-content input{
    font-weight: 300;
    border: solid 1px #aaa;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 20px!important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    text-rendering: auto;
    -webkit-writing-mode: horizontal-tb;
 }select{
    font-weight: 300 !important;
    border: solid 1px #aaa !important;
    width: 100% !important;
    height: 35px !important;
    padding: 0 10px !important;
    margin-bottom: 20px!important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    text-rendering: auto;
    -webkit-writing-mode: horizontal-tb;
 }
  textarea{
    font-weight: 300 !important;
    border: solid 1px #aaa !important;
    width: 100% !important;
    height: 35px !important;
    padding: 0 10px !important;
    margin-bottom: 20px!important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    text-rendering: auto;
    -webkit-writing-mode: horizontal-tb;
 }.login-content input[type="checkbox"]{
    position: static;
    width: 15px !important;
    height: 15px !important;
    margin-right: 10px;
}.login-content input[type="submit"]{
    -webkit-appearance: button;
    cursor: pointer;
    background: #000;
}
.login-content loginsubmit:hover{
    background: #000;
    color: #AAA;
}.login-content loginsubmit{
    height: 33px;
    border: none;
    line-height: 33px;
    background: #000;
    padding: 0 30px;
    display: inline-block;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 12px;
    border-radius: 3px;
    color: #ffe800;
    text-transform: uppercase;
    border: 0!important;
}.btn-black:hover {
    color: #0094ff;
}.btn-black{
    font-family: 'Roboto Condensed',sans-serif !important;
    font-size: 13px !important;
    background: #000 !important;
    height: 33px;
    border: none;
    line-height: 33px;
    padding: 0 30px;
    display: inline-block;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 12px;
    border-radius: 3px;
    color: #ffe800;
    text-transform: uppercase;
    border: 0!important;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-sizing: border-box;
 }.buttons-set
  {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100%;
  }