﻿body {
}
.center{
    text-align:center;
}
.content-sp{
   padding-left:1%;
}
.content-header{
    padding-left:1%;
}
/*comment*/
 .fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {
  width: 100% !important;
 }
 .fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {
  width: 100% !important;
 }
 .selectInput{
     width:100% !important;
     float:left;
     margin-right:10px;
 }
 .giamkc{
     padding:0 !important;
     text-align:center;
     line-height:34px;
 }
 .form-border{
     box-shadow:1px 2px 0px #a09292;
     min-height:50px;
 }