﻿.tintuc{
    min-height:130px;
    padding:10px;
    border-bottom:1px solid black;
    margin-top:20px;
}
.image{
    float:left;
    border:1px solid black;
    margin-right:20px;
    padding:5px;
}
.image img{
    width:100px;
    height:100px;
}
.thongtin h3,h5{
    margin-bottom:10px;
}

/* css thong tin chi tiet tin tuc*/
.imagect img{
    width:200px;
    height:100px;
}
.imagect{
    float:left;
    margin-right:20px;
}
/*Css cho form*/
.field1{
    margin-bottom:5px;
}
textarea{
    width: 95%;
    height:600px;
    font-family:'Times New Roman';
}
input[type="text"]{
    width: 95%;
}
a{
    color:blue;
    text-decoration:none;
}
a:hover{
    color:red;
}

/*validate*/
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
.product-item img{
    width :280px;
    height:150px;
}
/*form comment*/
.form-binhluan{
    border:1px solid black;
    background-color:#CCCCCC;
    width:100%;
    padding:10px;
    margin-top:20px;
}
.field1 input[type="text"]{
    width:40%;
}
.field1 textarea{
    width:90%;
    height:100px;
}
.adaidien img{
    width:100px;
    height:100px;
}
.adaidien{
    float:left;
    margin-right:15px;
}
.commentform{
    float:left;
    width:80%;
}

/*Danh sach comment*/
.image-comment{
    float:left;
    margin-right:10px;
    padding:5px;
}
.image-comment img{
    width:60px;
    height:60px;
}
.tt-comment{

}
.comment{
    width:100%;
    min-height:100px;
    border-bottom:1px solid #CCCCCC;
    margin-bottom:10px;
}
.tt-comment h4{
    margin-bottom:10px;
    color:blue;
}
.ngay{
    float:right;
}
.show-comment{
    margin-top:10px;
}.tintuc{
    min-height:130px;
    padding:10px;
    border-bottom:1px solid black;
    margin-top:20px;
}
.image{
    float:left;
    border:1px solid black;
    margin-right:20px;
    padding:5px;
}
.image img{
    width:100px;
    height:100px;
}
.thongtin h3,h5{
    margin-bottom:10px;
}

/* css thong tin chi tiet tin tuc*/
.imagect img{
    width:200px;
    height:100px;
}
.imagect{
    float:left;
    margin-right:20px;
}
/*Css cho form*/
.field1{
    margin-bottom:5px;
}
textarea{
    width: 95%;
    height:600px;
    font-family:'Times New Roman';
}
input[type="text"]{
    width: 95%;
}
a{
    color:blue;
    text-decoration:none;
}
a:hover{
    color:red;
}

/*validate*/
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
.product-item img{
    width :280px;
    height:150px;
}
/*form comment*/
.form-binhluan{
    border:1px solid black;
    background-color:#CCCCCC;
    width:100%;
    padding:10px;
    margin-top:20px;
}
.field1 input[type="text"]{
    width:40%;
}
.field1 textarea{
    width:90%;
    height:100px;
}
.adaidien img{
    width:100px;
    height:100px;
}
.adaidien{
    float:left;
    margin-right:15px;
}
.commentform{
    float:left;
    width:80%;
}

/*Danh sach comment*/
.image-comment{
    float:left;
    margin-right:10px;
    padding:5px;
}
.image-comment img{
    width:60px;
    height:60px;
}
.tt-comment{

}
.comment{
    width:100%;
    min-height:100px;
    border-bottom:1px solid #CCCCCC;
    margin-bottom:10px;
}
.tt-comment h4{
    margin-bottom:10px;
    color:blue;
}
.ngay{
    float:right;
}
.show-comment{
    margin-top:10px;
}

.left_content h2{
    color:blue;
}
.left_content h3{
    color:blue;
}
/*Thong tin ca nhan*/
.zmsprt
{
    background-image:url("../../images/zmsprt-1.07.png");
    background-repeat:no-repeat;
}
.zmiconopf{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}
.iconame{
    background-position:-32px -190px;
}
.iconsex{
    background-position:-32px -205px;
}
.icodate{
    background-position:-32px -222px;
}
.iconwrite{
    background-position:-32px -237px;
}
.iconsdt{
    background-position:-44px -128px;
}
.iconuse{
    background-position:0px -32px;
}
.iconpass{
    background-position:0px -65px;
}
.iconimage{
    background-position:0px 0px;
}
.row-line{
    margin: 10px;
    overflow: hidden;
    display: block;
}
.ltinfouser{
    width: 150px;
    float: left;
    font-weight: bold;
    margin-right:15px;
}
.infor{
    width:70%;
    float:left;
}
.image-infor img{
    width:200px;
    height:200px;
}
.image-infor{
    margin-top:50px;
    padding:2px;
    margin-bottom:20px;
    padding:5px;
    border-bottom:1px solid black;
}

/**/
.sort{
    margin-bottom:20px;
}
.sort  input{
    margin:5px;
}

.left_content h2{
    color:blue;
}
.left_content h3{
    color:blue;
}


/*Gio hang*/
.mycart{
    text-shadow: none;
    background: #FFF none repeat scroll 0% 0%;
    padding: 0px;
    margin: 0px;
}
.mycart h3 {
    text-transform: uppercase;
    color: #DD2A01;
    padding: 12px 0px 7px;
    font: 700 16px tinos;
    text-align: center;
    margin: 0px;
}
.simpleCart_items {
    border-top: 1px solid #DCDCDC;
    font-size: 12px;
    min-height: 90px;
    padding: 6px 0px 6px 2px;
    overflow: hidden;
}
.itemContainer {
    background: #FCFCFC none repeat scroll 0% 0%;
    float: left;
    position: relative;
    padding: 6px;
    width: 335px;
    margin: 4px;
    border: 1px solid #CCC;
    border-radius: 0px;
}
.itemname {
    width: 240px;
    position: absolute;
    top: 8px;
    right: 5px;
    font: 500 14px "Roboto Condensed",Arial,sans-serif;
    color: #444;
}
.itemQuantity {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}
.itemTotal {
    position: absolute;
    bottom: 6px;
    left: 120px;
    color: #F00;
    font: bold 14px "tinos";
}
.mycartinfo {
    font: 14px tinos;
    color: #EEE;
    padding: 10px 5px 8px 10px;
    background: #0253B6 none repeat scroll 0% 0%;
}
.mycart table {
    margin: 0px 0px 38px;
}
div.clear {
    clear: both;
}
.mycart table td {
    font-weight: bold;
}
.mycart table td.numb {
    color: #FCFF03;
}
.mycart .button_checkout {
    border-top: 1px dashed #01438D;
    padding: 3px 0px 0px;
}
.mycart a.simpleCart_empty {
    display: inline-block;
    color: red;
    background: #FFFC04 none repeat scroll 0% 0%;
    border-radius: 10px;
    text-shadow: none;
    font-size: 14px;
    text-decoration: none;
    padding: 6px 16px 5px;
    margin: 7px 8px 0px 0px;
    float: right;
    font-weight: bold;
}
.mycart a:hover{
    color:blue;
}
.mycart a.thanhtoan{
    display: inline-block;
    color: #F00 !important;
    background: #FFFC04 none repeat scroll 0% 0%;
    border-radius: 10px;
    text-shadow: none;
    font-size: 14px;
    text-decoration: none;
    padding: 6px 16px 5px;
    margin: 7px 8px 0px 0px;
    float:left;
    font-weight: bold;
}
.simpleCart_items img {
    height: 80px;
    width: 80px;
    float: left;
}
.itemremove a {
    font: 500 14px tinos;
    color: #01A809;
    position: absolute;
    top: 43px;
    right: 10px;
}
.itemQuantity select{
    width:60px;
    height:20px;
}
.itemcolor{
   float:left;
   margin-top:30px;
   margin-left:15px;
}
.itemcolor select{
    width:60px;
    height:20px;
}
/*Form thanh toan*/
#tt_nn{
    list-style-type:none;
}
#tt_nn label{
    float:left;
}
#title_nn{
    border-bottom:1px solid black;
}
#tt_nn li{
    margin-top:20px;
}
.form-label{
    width:130px !important;
    font-weight:bold;
}
#tt_nn input{
    width:60%;
}
#tt_nn textarea{
    width:60%;
    height:50%;
}
.thanhtoan_nn{
    border-radius:10px;
    padding:5px;
    text-align:center;
    box-shadow:0px 0px 0px 1px rgba(147, 187, 255, 0.3) inset;
    margin:auto;
    background:blue;
}
.form-button{
    text-align:center;
}

/*menu*/
.ul_menu{
    margin-bottom: 0px;
  padding: 0;
  width: 100%;
  height:100px;
  list-style: none;
  display: inline-block;
  position: relative;
  font-size: 15px;
}
/*change pass*/
.form-control{
    width:70%;
}
.btn{
    background-color:blueviolet;
}
/*Phieu dat hang*/
.itemphieu{
    background: #FCFCFC none repeat scroll 0% 0%;
    float: left;
    position: relative;
    padding: 6px;
    width: 95%;
    margin: 4px;
    border: 1px solid #CCC;
    border-radius: 0px;
}
.itemnamemua{
    width: 450px;
    position: relative;
    top: 8px;
    left:5px;
    font: 500 14px "Roboto Condensed",Arial,sans-serif;
    color: black;
    margin-bottom:10px;
}
.itemthumbphieu img{
    height: 100px;
    width: 80px;
    float: left;
}
.itemnamghichu{
    width: 100%;
    position: relative;
    top: 8px;
    right: 5px;
    left:5px;
    font: 500 14px "Roboto Condensed",Arial,sans-serif;
    color: black;
    margin-bottom:10px;
}
.itemtongtien{
    position:absolute;
    top:8px;
    left:500px;
    font: 500 14px "Roboto Condensed",Arial,sans-serif;
}
.itemdate{
    position:absolute;
    top:40px;
    left:500px;
    font: 500 14px "Roboto Condensed",Arial,sans-serif;
}
.subitem{
    float:right;
}
.itemnamemua i{
    color:blue;
}
#itemtrangthai{
    position:absolute;
    right:-40px;
    top:8px;
}
#itemtrangthai i{
    color:red;
    font-size:15px;
}