﻿
@{
    ViewBag.Title = "Danhsachtintuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_bg">
    <div class="main" ng-controller="truyxuatcontroller">
        <!-- start span1_of_1 -->
        <div class="left_content">
                <div class="tintuc" ng-repeat="item in dsnews">
                    <div class="image">
                        <img src="{{item.image}}" alt="khong load duoc">
                    </div>
                    <div class="thongtin">
                        <h3><a href="{{item.srcPage}}">{{item.Title}}</a></h3>
                        <h5>Genk</h5>
                        <p>{{item.noiDung}}</p>
                    </div>
                </div>
        </div>

        <div class="sub-cate single-subcate">
            <div class=" top-nav rsidebar span_1_of_left">
                <h3 class="cate">CATEGORIES</h3>
                <ul class="menu">
                    <li class="item1">
                        <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                        <ul class="cute">
                            <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="kid-menu">
                            <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                            <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                           menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>
            @*@if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }*@
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>

</div>

