﻿@model List<Frontend_Ecommic.Models.GiohangModel>
@{
    ViewBag.Title = "xemGioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Style_tintuc.css" rel="stylesheet" />
}

<!-- start main -->
<div class="main_bg" ng-controller="xuligiohang">
    <div class="main">
        <div class="left_content">
            <div class="mycart">
                <h3>Thông tin giỏ hàng</h3>
                <div class="quanli">
                    <div class="simpleCart_items">
                       
                            <div class="itemContainer" ng-repeat="item in giohangcurrent">
                                <div class="itemname"><a href="/Sanpham/Chitietsanpham/{{item.Id_SP}}">{{item.sanPham.TenSanPham}}</a></div>
                                <div class="itemthumb">
                                    <img src="@Frontend_Ecommic.Models.GLOBAL.urlapi{{item.sanPham.Duongdanhinh}}" alt="img" />
                                </div>
                                <div class="itemQuantity">
                                    <select ng-change="changequantity(item)" ng-model="item.sl" ng-init="item.sl = item.soLuong.toString()">
                                        <option ng-repeat="n in [] | range:item.sanPham.Soluong" value="{{n}}">{{n}}</option>

                                    </select>
                                </div>
                                <div class="itemcolor">
                                    Color :
                                    <select ng-change="changeColor(item)" ng-model="item.Color" ng-init="item.Color =item.Color">
                                        <option ng-repeat="color in item.sanPham.Color" value="{{color.Ten}}">{{color.Ten}}</option>
                                    </select>
                                </div>
                                <div class="itemTotal">
                                    VND : {{item.sanPham.Giatien}}
                                </div>
                                <div class="itemremove">
                                    <a href="javascript:;" ng-click="xoaCart(item,$index)">Loại bỏ</a>
                                </div>
                            </div>
                        
                        <div class="clear"></div>
                        <div class="mycartinfo">
                            <table>
                                <tbody>
                                    <tr><td class="title">Số lượng: </td><td class="numb"><span class="simpleCart_quantity">@Frontend_Ecommic.Models.GLOBAL.gioHangCurrent.soLuongGioHang()</span></td></tr>
                                    <tr><td class="title">Thành tiền: </td><td class="numb"><span class="simpleCart_total">VND&nbsp;@Frontend_Ecommic.Models.GLOBAL.gioHangCurrent.tongTienCart()</span></td></tr>
                                    <tr><td class="title">Phí ship: </td><td class="numb"><span class="simpleCart_shippingCost">VND&nbsp;0.00</span></td></tr>
                                    <tr><td class="title">Tổng cộng: </td><td class="numb"><span class="simpleCart_finalTotal">VND&nbsp;@Frontend_Ecommic.Models.GLOBAL.gioHangCurrent.tongTienCart()</span></td></tr>
                                </tbody>
                            </table>
                            <div class="clear"></div>
                            <div class="button_check">
                                <a class="simpleCart_empty" href="javascript:;" onclick="Deleteall();" title="Xóa hết đơn hàng">Xóa hết</a>
                                <a class="thanhtoan" href="javascript:;" onclick="Thanhtoanform();">Thanh toán</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-tt">

            </div>
        </div>


        <div class="sub-cate single-subcate">
            <div class=" top-nav rsidebar span_1_of_left">
                <h3 class="cate">CATEGORIES</h3>
                <ul class="menu">
                    <li class="item1">
                        <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                        <ul class="cute">
                            <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="kid-menu">
                            <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                            <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                           menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>
            @if (@Session["newproduct"] != null)
            {
                @Html.Partial("sanphamquancao", @Session["newproduct"])
            }
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>

</div>







