﻿@model Frontend_Ecommic.Models.DSLoaisanPham
@{
    ViewBag.Title = "Loaisanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Loại sản phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <span>
                            @Html.ActionLink("Thêm mới loại sản phẩm", "Themmoiloaisanpham")
                        </span>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên loại sản phẩm</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Loaisanpham)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.TenLoai</td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Chinhsualoaisanpham", new { ID = @item.ID, Loai = @item.TenLoai })
                                        @*@Html.ActionLink("Xóa", "Xoaloaisanpham", new { id = @item.ID })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
