﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Frontend_Ecommic.Models.SanphamModel>
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sản phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <span>
                            @Html.ActionLink("Thêm mới sản phẩm", "Themmoisanpham")
                        </span>
                        <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá tiền</th>
                                <th>Mô tả</th>
                                <th>Loại</th>
                                <th>Số lượng</th>
                                <th>NSX</th>
                                <th>Hiệu chỉnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img src="@Frontend_Ecommic.Models.GLOBAL.urlapi@item.Duongdanhinh" class="img-responsive" alt="" /></td>
                                    <td>@item.ID</td>
                                    <td>@item.TenSanPham</td>
                                    <td>@item.Giatien</td>
                                    <td>@item.Motasanpham</td>
                                    <td>@item.ID_Loai</td>
                                    <td>@item.Soluong</td>
                                    <td>@item.NSX</td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Chinhsuasanpham", new { ID = @item.ID })
                                        @*@Html.ActionLink("Xóa", "Xoaloaisanpham", new { id = @item.ID })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Sanpham", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9">
    @*@for (int i = 0; i < @Model.sanPham.Count; i++)
    {
        <div class="col-md-3 product-item">
            <a href="@Url.Action("Chinhsuasanpham", "Admin", new { ID = @Model.sanPham[i].ID })"><img src="@Frontend_Ecommic.Models.GLOBAL.urlapi@Model.sanPham[i].Duongdanhinh" class="img-responsive" alt="" /></a>
            <h3>@Model.sanPham[i].TenSanPham</h3>
            <a href="@Url.Action("Chinhsuasanpham", "Admin", new { ID = @Model.sanPham[i].ID })">Chỉnh sửa</a><i class="go"></i>
        </div>
    }*@
</div>
<h2>Sanpham</h2>

