﻿
@{
    ViewBag.Title = "Quản lí đơn hang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i>@ViewBag.Title</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="alert alert-info" id="alert-info" style="display:none"></div>
                <div class="form-inline" style="text-align: right; padding: 10px">
                    <div class="input-group">
                        @Html.DropDownList("value", new SelectList(new List<object>
                        {
                            new { value = "1" , text = "Dang duyệt"  },
                            new { value = "2" , text = "Đang giao" },
                            new { value = "3" , text = "Đã giao" },
                            new { value = "4" , text = "Hủy" },
                        }, "value", "text"), "--Trạng thái--", new { @class = "form-control", id = "trangthai", onchange = "timkiemdh()" })
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="red">Ngày</i></span>
                        <input id="dhday" type="date" class="form-control" onchange="timkiemdh()">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search red"></i></span>
                        <input id="mobile" type="text" class="form-control" placeholder="Số điện thoại" oninput="timkiemdh()">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search red"></i></span>
                        <input id="madh" type="text" class="form-control" placeholder="Mã đơn hàng" oninput="timkiemdh()">
                    </div>
                    

                </div>
                <div class="form-inline" style="text-align: right; padding: 10px">
                    <div class="input-group">
                        @Html.DropDownList("SetStatus", new SelectList(new List<object>
                        {
                            new { value = "1" , text = "Dang duyệt"  },
                            new { value = "2" , text = "Đang giao" },
                            new { value = "3" , text = "Đã giao" },
                            new { value = "4" , text = "Hủy" },
                        }, "value", "text"), "--- Sửa trạng thái đơn hàng ---", new { @class = "form-control", id = "setstatus" })
                        <span class="input-group-addon" onclick="SetStatus('@Url.Action("MultibleUpdate", "Donhang")')" style="cursor:pointer"><i class="glyphicon glyphicon glyphicon-wrench blue"></i></span>
                    </div>
                </div>

                @*<div class="Ajax-Table" id="Ajax-Table">
                    @Html.Action("TimDonHang", "Donhang")
                </div>*@

            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

